<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<body>
    <section Layout:fragment="content" class="container">
        <!-- Start Content -->
        <div class="d-flex justify-content-between align-items-center mt-2">
            <h1 class="fw-bold">My KPI</h1>
        </div>
        <table id="table-mykpi" class="table text-center table-bordered mt-3">
            <thead class="table-dark">
                <tr>
                    <th class="col-0.5 text-center">Id</th>
                    <th class="col-1.5 text-center">Created At</th>
                    <th class="col-1 text-center">First Deadline</th>
                    <th class="col-1 text-center">Second Deadline</th>
                    <th class="col-0.5 text-center">Year</th>
                    <th class="col-1 text-center">Employee</th>
                    <th class="col-1 text-center">Manager</th>
                    <th class="col-2 text-center">Final Score</th>
                    <th class="col-3 text-center">Action</th>
                </tr>
            </thead>
            <tbody  th:each="mykpi, no : ${mykpis}">
                <tr>
                    <td th:text="${no.count}"></td>
                    <td th:text="${mykpi.created_at}"></td>
                    <td th:text="${mykpi.first_deadline}"></td>
                    <td th:text="${mykpi.second_deadline}"></td>
                    <td th:text="${mykpi.year}"></td>
                    <td th:text="${mykpi.employee.name}"></td>
                    <td th:text="${mykpi.manager.name}"></td>
                    <td th:text="${mykpi.final_score}"></td>
                    <td class="d-flex justify-content-center align-items-center gap-1">
                        <a class="btn btn-primary" th:href="@{/assessment/myass/{id} (id=${mykpi.id})}">Assessment</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>